<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142725166511-qttm3ddm0mp84a9l8g26fii2j8sg5qj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142725166511-qttm3ddm0mp84a9l8g26fii2j8sg5qj7</string>
	<key>API_KEY</key>
	<string>AIzaSyA63Bjybn1fB4V14FAmkTp4l8Qy6YTSwV0</string>
	<key>GCM_SENDER_ID</key>
	<string>142725166511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApp</string>
	<key>PROJECT_ID</key>
	<string>chatting-app-759a0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-app-759a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142725166511:ios:3976a1fd6d3697f6c92b5a</string>
</dict>
</plist>